body{
    background-color: sienna;
    background-image: url()
    
}


.container{
    color: transparent;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
}
.poster{
    border: 2px black;
}

.button{
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 2%;
    min-height: 20px;
    min-width: 20%;
    cursor: pointer;
}

.input{
    background-color: black;
}